<div>
    <h1>ArtOrders</h1>

    <a href="/">Dashboard</a>
    <a href="/orders">My orders</a>
    <a href="/artists">Artists</a>
    <a href="/chats">Chats</a>
</div>

@*<MudNavMenu>
    <MudText Typo="Typo.h5" Class="pa-4">ArtOrders</MudText>
    <MudDivider />
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/orders" Match="NavLinkMatch.Prefix">My orders</MudNavLink>
    <MudNavLink Href="/artists" Match="NavLinkMatch.Prefix">Artists</MudNavLink>
    <MudNavLink Href="/chats"  Match="NavLinkMatch.Prefix">Chats</MudNavLink>
</MudNavMenu>*@
